@font-face {
  font-family: "helvetica";
  src: url("fonts/HelveticaNeue Medium.ttf") format("truetype");
  src: url("fonts/HelveticaNeue Light.ttf") format("truetype");
  src: url("fonts/HelveticaNeue Thin.ttf") format("truetype");
  src: url("fonts/HelveticaNeue Bold.ttf") format("truetype"); }
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans";
  color: #2B2B2B;
  overflow-x: hidden; }

header {
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 65px; }

.anima-flecha {
  animation: anima 1.5s infinite; }

@keyframes anima {
  0% {
    top: 95%; }
  50% {
    top: 93%; }
  100% {
    top: 95%; } }
.title-wrap .typing {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.05em;
  animation: typing 2.5s steps(40, end); }

.title-wrap .typing_slow {
  overflow: hidden;
  border-right: 0.15em solid white;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.05em;
  animation: typing 4.5s steps(40, end), blink-caret 0.75s step-end infinite; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }
@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: white; } }
.menu-icon {
  display: none; }

.menu {
  position: fixed;
  right: 0; }

.menu a {
  text-decoration: none;
  display: inline-block;
  margin: 15px; }

.menu a li {
  color: white;
  display: block;
  font-size: 1.2em; }

.menu li i {
  font-size: 1.5em; }

.menu-fondo {
  transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
  -moz-transition: 0.3s ease-out all;
  -o-transition: 0.3s ease-out all;
  -ms-transition: 0.3s ease-out all; }

.menu-fondo {
  background: #233541;
  position: fixed;
  border-bottom: 1px solid white; }

.arrow-wrap {
  position: absolute;
  top: 95%;
  z-index: 10;
  width: 100px;
  left: 50%;
  transform: translate(-50%, -50%); }

.arrow-wrap div {
  float: left;
  width: 45%; }

.arrow-wrap img {
  width: 100%; }

#inicio {
  background-image: url(img/fondo-pc2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 100%;
  width: 100%;
  height: 662px;
  position: relative; }

.logo {
  width: 260px;
  left: 10%;
  position: fixed;
  top: -32px;
  left: 0; }

#inicio .title-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

#inicio .title-wrap {
  text-align: center; }

#inicio .title-wrap h1, #inicio .title-wrap h2 {
  color: white;
  font-family: "Open Sans"; }

#inicio .title-wrap .typing {
  font-size: 3.5em; }

#inicio .title-wrap .typing_slow {
  font-size: 2.5em; }

#inicio .left-arrow {
  border-bottom: 3px solid white;
  transform: rotate(30deg);
  position: relative;
  left: 4px; }

#inicio .right-arrow {
  border-bottom: 3px solid white;
  transform: rotate(-35deg);
  position: relative;
  left: -3px; }

.perfil-wrap {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  margin: 30px auto;
  opacity: 0; }

#about .perfil-wrap {
  transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
  -moz-transition: 0.3s ease-out all;
  -o-transition: 0.3s ease-out all;
  -ms-transition: 0.3s ease-out all; }

.perfil-wrap img {
  width: 100%;
  position: relative;
  top: -50px; }

#about {
  background: #233541; }

#about .wrapper {
  width: 85%;
  margin: auto;
  padding: 10px; }

#about img {
  text-align: center;
  display: block; }

#about .description {
  width: 80%;
  text-align: center;
  margin: 30px auto;
  font-size: 1.1em;
  position: relative;
  left: -100%;
  color: white; }

#about .description {
  transition: 1s ease-out all;
  -webkit-transition: 1s ease-out all;
  -moz-transition: 1s ease-out all;
  -o-transition: 1s ease-out all;
  -ms-transition: 1s ease-out all; }

#about a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  border: 2px solid;
  width: 135px;
  text-align: center;
  font-size: 1.1em;
  margin: 50px auto;
  letter-spacing: 1px; }

.rotar {
  transition: 1s ease-out all;
  -webkit-transition: 1s ease-out all;
  -moz-transition: 1s ease-out all;
  -o-transition: 1s ease-out all;
  -ms-transition: 1s ease-out all; }

.rotar {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transition: 3s ease all;
  -webkit-transition: 3s ease all;
  -moz-transition: 3s ease all;
  -o-transition: 3s ease all;
  -ms-transition: 3s ease all; }

#work {
  width: 85%;
  margin: 20px auto; }

#work article {
  transition: 1s ease-out all;
  -webkit-transition: 1s ease-out all;
  -moz-transition: 1s ease-out all;
  -o-transition: 1s ease-out all;
  -ms-transition: 1s ease-out all; }

#work .primer-art {
  position: relative;
  left: -100%; }

#work .segundo-art {
  position: relative;
  left: 100%; }

#work div {
  width: 45%;
  display: inline-block;
  vertical-align: middle;
  text-align: center; }

#work h2 {
  text-align: center;
  font-weight: normal; }

#work div img {
  width: 100%; }

#work .illustrator-logo {
  width: 60%; }

#work div p {
  width: 85%;
  margin: auto;
  font-size: 1.3em; }

#skills {
  background: #233541; }

#skills .wrapper {
  width: 85%;
  margin: auto;
  padding: 10px; }

#skills h2, #skills h3 {
  text-align: center;
  margin: 20px auto 20px auto;
  font-weight: normal;
  color: white; }

#proyects {
  text-align: center;
  padding: 10px;
  font-weight: normal; }

#proyects h4, #proyects h5 {
  font-weight: normal;
  margin: 10px 0 10px 0;
  font-size: 1.1em; }

#proyects h3 {
  margin: 30px;
  font-weight: normal; }

#proyects .proyect-wrap {
  width: 25%;
  display: inline-block;
  margin: 30px; }

#proyects .proyect-wrap img {
  width: 100%; }

#proyects .proyect-wrap {
  transition: 1s ease-out all;
  -webkit-transition: 1s ease-out all;
  -moz-transition: 1s ease-out all;
  -o-transition: 1s ease-out all;
  -ms-transition: 1s ease-out all; }

#proyects .proyect-wrap {
  position: relative;
  right: 100%; }

#proyects .proyect-wrap a {
  background: #233541;
  color: white;
  text-decoration: none;
  padding: 8px;
  text-align: center;
  width: 120px;
  display: block;
  margin: auto; }

#contact {
  background: #233541; }

#contact h2 {
  text-align: center;
  font-weight: normal;
  font-size: 1.17em;
  margin: 30px;
  color: white; }

#contact .wrapper {
  width: 85%;
  margin: auto;
  padding: 10px; }

#contact form {
  text-align: center; }

#contact input {
  border: none;
  padding: 10px;
  width: 40%;
  font-size: 1.17em; }

#contact textarea {
  border: none;
  padding: 20px;
  width: 80%;
  margin: 30px auto;
  display: block;
  height: 200px;
  font-family: "Open Sans"; }

#contact .boton-form {
  background: #233541;
  color: white;
  padding: 10px;
  width: 150px;
  margin: auto;
  display: block;
  cursor: pointer;
  border: 2px solid;
  letter-spacing: 1px; }

@media(max-width: 1194px) {
  .c100 {
    width: 22% !important; } }
@media(max-width: 750px) {
  #about .description {
    width: 100%; }

  .c100 {
    width: 45% !important; }

  #work div {
    display: block;
    width: 80%;
    margin: 20px auto; }

  #proyects .proyect-wrap {
    width: 80%; }

  #inicio .title-wrap .typing {
    font-size: 2.5em; }

  #inicio .title-wrap .typing_slow {
    font-size: 1.8em; } }
@media(max-width: 620px) {
  .logo {
    display: none; }

  .menu {
    right: 20%; } }
@media(max-width: 450px) {
  .menu a li {
    font-size: 1em; }

  .big {
    margin-left: 27% !important;
    width: 65% !important; }

  #inicio {
    height: 415px; }

  #inicio .title-wrap .typing {
    font-size: 1.5em; }

  #inicio .title-wrap .typing_slow {
    font-size: 1.3em; }

  .arrow-wrap {
    left: 55%; }

  .arrow-wrap img {
    width: 60%; }

  .menu {
    top: 2%; }

  .menu a {
    margin: 10px; }

  #contact input {
    width: 85%;
    margin-top: 20px; } }
@media(max-width: 350px) {
  .menu {
    right: 13%; }

  .menu li i {
    font-size: 1.2em; } }

/*# sourceMappingURL=style.css.map */
